@use "../../styles/colors" as *;

.heroMain {
    height: 90vh;
    // border: 1px solid orange;
    display: flex;
}

.heroTitle {
    color: $white;
}

.titleDiv {
    width: 50%;
}

.pictureDiv {
    // border: 5px solid blue;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sanchez {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}