@use "../../styles/colors" as *;

.heroMain {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroTitle {
    color: $white;
}

.titleDiv {
    width: 50%;
}

.pictureDiv {
    // border: 5px solid blue;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sanchez {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}