@use "../../styles/colors" as *;


.contactMain {
    height: 100vh;
    background-color: $grey;
    display: flex;
    position: relative;
}

.contactTitle {
    position: absolute;
    left: 45%;
    top: 5%;
    color: $white;
}

.socialsDiv {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgd;
    border-radius: 10px;
}



.socialLinks {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formSection {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgd;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.input {
    background-color: $ash;
}

.label {
    padding-bottom: 10px;
    color: $white;

    &--mess {
        padding: 20px 0px 10px 0px;
        color: $white;
    }
}

#email {
    height: 1.5rem;
    padding-left: 5px;
    border-radius: 10px;

    &:focus {
        color: black;
        background-color: beige;
    }
}

#message {
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;

    &:focus {
        background-color: beige;
    }
}

.send {
    background-color: $blue;
    font-size: 16px;
    color: $grey;
    border-style: none;
    height: 2.2rem;
    border-radius: 10px;
    margin-top: 40px;

    &:hover {
        background-color: #6daa96;
        color: $white;
    }
}